node_modules
output

output/studentsNotPlaced.json
output/classes.json
output/students.json

website/data

website/data/studentsNotPlaced.json
website/data/classes.json
website/data/students.json

input

students.json
students.csv
classes.json